body {
  margin: 20;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(173, 184, 190);
}

.header {
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.NavBar {
  
  background-color: rgb(94, 94, 110);
  

}

.link {
  display: inline-block;
  text-align: center;
  width: 100px;
  padding: 6px;
  margin: 0 6px 6px;
  text-decoration: bold;
  color: white;
}

.article-list{
  border-style: groove;
  border-color: black;
  width: 50%;
}
.article{
  border-style: dotted;
  border-width: 2px;
  border-color: gray;
}

.articleWindow{
  width: 50%
}

.feature-box{
  padding: 10px;
  align-items: center;
  border-style: double;
  border-color: black;
  border-width: 2px;
  width: 100%
}
.feature-image {
  align-self: center;
  width: 100%
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
